.container {
    text-align: center;
}
.btn {
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #4CAF50;
    transition: box-shadow 0.5s;
}
.btn:hover {
    box-shadow: 1px 1px 4px #4CAF50;
}